<form action="/sharingmaster/new/sellingcompany" method="POST">
  Selling Company Name:<br>
  <input type="text" name="sellingcompanyname">
  <br><br>
  Currency<br>
  <input type="text" name="currency">
  <br><br>
  <input type="submit" value="Add">
</form> 