

.table-wrapper{
    width:100%;
    padding:70px 5px 10px 5px;
}
#myTable >tbody>tr>td{
    height:10px !important;
    padding:4px !important;
    vertical-align: middle;
    font-size: 15px ;
  }
.plus-sign{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    background:#4179ef;
    padding: 14px 21px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.plus-sign:hover{
    background: #233141;
    color:#fff;
}
.table-responsive-sm{
    font-size: 12px;
}
.actn{
    padding:2px 7px !important;
}
.btn-blue{
    background: #4179ef;
    color: #fff;
}
.bi{
    color: #4179ef;
    padding: 2px;
    float: right;
}
