<app-header></app-header>
<main>
  <div class="container-fluid">
        <div class="row">
            <!-- <form [FormGroup]="orderForm" (ngSubmit)="onSubmit()"> -->
                    <div class="col-4">
                            <div class="form-group">
                                <label for="">RA Reference</label>
                                <input type="text" id="RA_REFERENCE" [(ngModel)]="bookingArray.data.RA_REFERENCE" class="form-control" placeholder="" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="">RA Agent Code</label>
                                <input type="text" [(ngModel)]="bookingArray.data.RA_AGENT_CODE" class="form-control" id="RA_AGENT_CODE" placeholder="">
                            </div>
                        </div>
                        <div class="col-4">
                                <div class="form-group">
                                    <label for="">Invoice Number</label>
                                    <input type="text" [(ngModel)]="bookingArray.data.INVOICE_NUMBER" class="form-control" placeholder="">
                                </div>
                            </div>
                
                
        </div>
      <div class="row">
            <div class="col-4">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" [(ngModel)]="bookingArray.data.FIRSTNAME" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Invoice Currency</label>
                        <select id="INVOICE_CURRENCY" class="form-control" [(ngModel)]="bookingArray.data.INVOICE_CURRENCY">
                                <option>Select Currency...</option>
                                <option *ngFor="let cData of dataCur.currency">{{cData}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                        <div class="form-group">
          
                              <label for="">Invoice Date</label>
                              <div class="input-group mb-4">
                            <input type="date" id="INVOICE_DATE" [(ngModel)]="bookingArray.data.INVOICE_DATE" class="form-control" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                            </div></div>
                        </div>
                    </div>
         
      </div>
      <div class="row">
            <div class="col-4">
                    <div class="form-group">
                        <label for="">Exchange Rate</label>
                        <input type="number" min="0" step="any" id="EXCHANGE_RATE" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.EXCHANGE_RATE" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-4">
                        <div class="form-group">
          
                              <label for="">Payment Deadline</label>
                              <div class="input-group mb-4">
                            <input type="date" id="PAYMENT_DEADLINE" [(ngModel)]="bookingArray.data.PAYMENT_DEADLINE" class="form-control" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                            </div></div>
                        </div>
                    </div>
                    <div class="col-4">
                            <div class="form-group">
                                <label for="">Stand Alone</label>
                                <input type="text" [(ngModel)]="bookingArray.data.STAND_ALONE" class="form-control" id="STAND_ALONE" placeholder="">
                            </div>
                        </div>
                
          
          
      </div>
      <div class="row">
            
            
            <!-- <div class="col-4">
                    <div class="form-group">
                            <label>Foreign Currency</label>
                            <select class="form-control" id="FOREIGN_CURRENCY" [(ngModel)]="bookingArray.data.FOREIGN_CURRENCY">
                                    <option *ngFor="let cData of dataCur.currency">{{cData}}</option>
                            </select>
                    </div>
              </div> -->
              <div class="col-4">
                  <div class="form-group">
                      <label for="">SBU</label>
                      <input type="text" [(ngModel)]="bookingArray.data.SBU" class="form-control" id="SBU" placeholder="">
                  </div>
              </div>
              <div class="col-4">
                    <div class="form-group">
                        <label for="">Lead Passenger</label>
                        <input type="text" [(ngModel)]="bookingArray.data.LEAD_PASSENGER" class="form-control">
                    </div>
                </div>
                
        </div>
      <!-- <div class="row mb-5">
          <div class="col-4">
              <div class="form-group">
                  <label for="">Invoice Date</label>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" [(ngModel)]="bookingArray.InvoiceDate" id="" placeholder="" data-provide="datepicker">
                      <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="">Invoice Number</label>
                  <input type="text" [(ngModel)]="bookingArray.InvoiceNumber" class="form-control" id="" placeholder="">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="">Invoice Currency</label>
                  <input type="text" [(ngModel)]="bookingArray.InvoiceCurrency" class="form-control" id="" placeholder="">
              </div>
          </div>
      </div> -->
      <div class="row align-items-end">
        <!-- <div class="col-2">
            <div class="form-group">
                <label for="">Supplier Payment Deadline</label>
            </div>
        </div> -->
        <div class="col-2">
            <div class="form-group">
                <label for="">Service Category</label>
            </div>
        </div>
        <div class="col-2">
                <div class="form-group">
                    <label for="">Product Name</label>
                </div>
            </div>
            <div class="col-2">
                    <div class="form-group">
                        <label for="">Per Service Supplier Name</label>
                    </div>
            </div>
            <div class="col-2">
                    <div class="form-group">
                        <label for="">Per Service Supplier Code</label>
                    </div>
            </div>
        <div class="col-2">
                <div class="form-group">
                    <label for="">Components Wise Selling Cost</label>
                </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="">Service Country</label>
            </div>
        </div>
        <!-- <div class="col-2">
            <div class="form-group">
                <label for="">Amounts<br><small>Component Wise Selling Cost</small></label>
                <input type="text" (blur)="totalAmout(item.amount)" [(ngModel)]="item.amount" class="form-control mb-4" id="" placeholder="">
            </div>
        </div> -->
    </div>
      <div class="row align-items-end" *ngFor="let subbookingArray of bookingArray.data.dynamic; let i = index;">
          <!-- <div class="col-2">
              <div class="form-group">
                  <input type="text" formControlName = "SUPPLIER_PAYMENT_DEADLINE" [(ngModel)]="bookingArray.SupplierPaymentDeadline" class="form-control mb-4" id="" placeholder="{{bookingArray.SERVICE_CATEGORY}}">
              </div>
          </div> -->
          <div class="col-2">
                <div class="form-group">
                    <select id="SERVICE_CATEGORY" class="form-control" [(ngModel)]="subbookingArray.SERVICE_CATEGORY">
                            <option>Select Category...</option>
                            <option>Hotel</option>
                            <option>Tour</option>
                    </select>
                </div>
                <!-- <div class="form-group">
               
                    <input type="text" [(ngModel)]="subbookingArray.SERVICE_CATEGORY" class="form-control mb-4">
                </div> -->
            </div>
        <div class="col-2">
                <div class="form-group">
                    <input type="text" [(ngModel)]="subbookingArray.PRODUCT_NAME" class="form-control mb-4"><!--id="PRODUCT_NAME" placeholder="" name="PRODUCT_NAME" #PRODUCT_NAME="ngModel" id="PRODUCT_NAME"-->
                </div>
            </div>
          <div class="col-2">
              <div class="form-group" *ngFor="let sData of suppliers.supplier">
                    <angular2-multiselect [data]="sData.supplier_display_name" [(ngModel)]="subbookingArray.PER_SERVICE_WISE_SUPPLIER_NAME" 
                    [settings]="dropdownSettings" ></angular2-multiselect><!--(onSelect)="onItemSelect($event)" 
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"-->
              </div>
              <!-- <div class="form-group">
                  <select class="form-control" [(ngModel)]="subbookingArray.PER_SERVICE_WISE_SUPPLIER_NAME">
                        <option>Select Supplier...</option>    
                        <option *ngFor="let sData of suppliers.supplier">{{sData.supplier_display_name}}</option>
                    </select>
              </div> -->
          </div>
          <div class="col-2">
              <div class="form-group">
                    <input type="text" [(ngModel)]="subbookingArray.PER_SERVICE_SUPPLIER_CODE" class="form-control mb-4">
              </div>
          </div>
          <div class="col-2">
              <div class="form-group">
                  <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="subbookingArray.COMPONENTS_WISE_SELLING_COST" class="form-control mb-4"><!--name="PER_SERVICE_SUPPLIER_CODE" #PER_SERVICE_SUPPLIER_CODE="ngModel" id="PER_SERVICE_SUPPLIER_CODE"-->
              </div>
          </div>
          <div class="col-2">
              <div class="form-group">
                  <input type="text" [(ngModel)]="subbookingArray.SERVICE_COUNTRY" class="form-control mb-4" id="" placeholder=""><!-- name="CITY" #CITY="ngModel" id="CITY"-->
              </div>
          </div>
          <div class="col-auto align-self-center mt-5">
                <div class="form-action-group d-flex align-items-center justify-content-between mb-4">
                    <button type="button" class="btn btn-light mr-2" (click)="selectField(i);" data-toggle="modal" data-target="#exampleModalCenter"><i
                            class="ion ion-ios-more text-dark"></i></button>
                    <button type="button" (click)="deleteItem(i);" class="btn btn-light"><i
                            class="ion ion-ios-trash text-danger"></i></button>
                    <button type="button" (click)="add()" class="btn btn-light mr-2"><i
                            class="ion ion-md-add text-primary"></i></button>
                </div>
            </div>
      </div>
      <div class="row">
          <div class="col-10">
            <div class="form-group row">
                <label for="" class="ml-auto col-auto col-form-label">Selling Cost</label>
                <div class="col-2">
                    <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.SELLINGCOST" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                    <label for="" class="ml-auto col-auto col-form-label">Over All Discount</label>
                    <div class="col-2">
                        <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.OVER_ALL_DISCOUNT" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                        <label for="" class="ml-auto col-auto col-form-label">Over All Profit</label>
                        <div class="col-2">
                            <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.OVER_ALL_PROFIT" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                            <label for="" class="ml-auto col-auto col-form-label">Over ALL Loss</label>
                            <div class="col-2">
                                <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.OVER_ALL_LOSS" class="form-control" placeholder="">
                            </div>
                        </div>
              <div class="form-group row">
                  <label for="" class="ml-auto col-auto col-form-label">Total In Amounts</label>
                  <div class="col-2">
                      <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.TOTAL_IN_AMOUNTS" id="TOTAL_IN_AMOUNTS" class="form-control" placeholder="">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="" class="ml-auto col-auto col-form-label">Total Tax Calculation</label>
                  <div class="col-2">
                      <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.TOTAL_TAX_CALCULATION" id="TOTAL_TAX_CALCULATION" class="form-control" placeholder="">
                  </div>
              </div>
          </div>
      </div>
      <!-- <div style="width: 100%; height: 150px;"></div> -->
      <div class="row align-items-end">
          <div class="col-6">
              <div class="form-group mb-0">
                  <label for="exampleFormControlTextarea1">Booking Note</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                      style="resize: none;" [(ngModel)]="bookingArray.data.BOOKING_NOTES" id="BOOKING_NOTES" placeholder=""  name="BOOKING_NOTES" #name="ngModel"></textarea>
              </div>
          </div>
          <!-- <div class="col-4">
              <div class="form-group mb-0">
                  <label for="exampleFormControlFile1">File Upload</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
          </div> -->
          <div class="col-1 text-right">
              <button type="submit" (click)="booking()" class="btn btn-primary w-100">Save</button>
          </div>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
              <!-- <div class="modal-header">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="supplier-tab" data-toggle="tab" href="#supplier" role="tab" aria-controls="supplier" aria-selected="true">Supplier Details</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="accomodation-tab" data-toggle="tab" href="#accomodation" role="tab" aria-controls="accomodation" aria-selected="false">Accomodation Details</a>
                      </li>
                  </ul>
              </div> -->
              <div class="modal-body">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Service City</label>
                                        <input type="text" [(ngModel)]="bookingArray.data.dynamic[index].SERVICE_CITY" class="form-control">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="">Tax Calculation</label>
                                        <input type="text" [(ngModel)]="bookingArray.data.dynamic[index].TAX_CALCULATION" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-6">
                                            <div class="form-group">
                                                    <label>Foreign Currency</label>
                                                    <select class="form-control" [(ngModel)]="bookingArray.data.dynamic[index].FOREIGN_CURRENCY">
                                                        <option>Select Currency...</option>    
                                                        <option *ngFor="let cData of dataCur.currency">{{cData}}</option>
                                                    </select>
                                                </div>
                                         
                                      </div>
                                    <!-- <div class="col-6">
                                            <div class="form-group">
                                                    <label>Components Wise Selling Cost Currency</label>
                                                    <select class="form-control" [(ngModel)]="bookingArray.data.dynamic[index].COMPONENTS_WISE_SELLING_COST_CURRENCY">
                                                        <option>Select Currency...</option>    
                                                        <option *ngFor="let cData of dataCur.currency">{{cData}}</option>
                                                    </select>
                                                </div>
                                        </div> -->
                                  <div class="col-6">
                                      <div class="form-group">
                                          <label for="">Components Wise Markup</label>
                                          <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].COMPONENTS_WISE_MARKUP" class="form-control">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                      <div class="col-6">
                                          <div class="form-group">
                                              <label for="">Component Wise Net Cost</label>
                                              <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].COMPONENTS_WISE_NET_COST" class="form-control">
                                          </div>
                                      </div>
                                      <div class="col-6">
                                            <div class="form-group">
                                                    <label>Components Wise Net Cost Currency</label>
                                                    <select class="form-control" [(ngModel)]="bookingArray.data.dynamic[index].COMPONENTS_WISE_NET_COST_CURRENCY">
                                                        <option>Select Currency...</option>    
                                                        <option *ngFor="let cData of dataCur.currency">{{cData}}</option>
                                                    </select>
                                                </div>
                                         
                                      </div>
                                  </div>
                                  <div class="row" *ngIf="bookingArray.data.dynamic[index].SERVICE_CATEGORY == 'Hotel'">
                                        <div class="col-6">
                                            <div class="form-group">

                                                    <label for="">CheckIn Date</label>
                                                    <div class="input-group mb-6">
                                                <input type="date" [(ngModel)]="bookingArray.data.dynamic[index].CHECK_IN_DATE" class="form-control">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                                                </div></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">

                                                    <label for="">CheckOut Date</label>
                                                    <div class="input-group mb-6">
                                                <input type="date" [(ngModel)]="bookingArray.data.dynamic[index].CHECK_OUT_DATE" class="form-control">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                                                </div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="bookingArray.data.dynamic[index].SERVICE_CATEGORY == 'Hotel'">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="">No of Nights</label>
                                                <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].NO_OF_NIGHTS" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="">No of Rooms</label>
                                                <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].NO_OF_ROOMS" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                            
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="">Booking Reference(RA File Handler)</label>
                                                <input type="text" id="RA_FILE_HANDLER" [(ngModel)]="bookingArray.data.dynamic[index].RA_FILE_HANDLER" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="">Payment Slabs</label>
                                                <input type="text" [(ngModel)]="bookingArray.data.dynamic[index].PAYMENT_SLABS" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div class="row" *ngIf="bookingArray.data.dynamic[index].SERVICE_CATEGORY == 'Tour'">
                            
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">TOUR TRANSFER COMPONENTS WISE SELLING COST</label>
                                                    <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].TOUR_TRANSFER_COMPONENTS_WISE_SELLING_COST" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="">TOUR TRANSFER COMPONENTS WISE NET COST</label>
                                                    <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].TOUR_TRANSFER_COMPONENTS_WISE_NET_COST" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-6">
                                                        <div class="form-group">
            
                                                                <label for="">Supplier Payment Deadline</label>
                                                                <div class="input-group mb-6">
                                                            <input type="date" [(ngModel)]="bookingArray.data.dynamic[index].SUPPLIER_PAYMENT_DEADLINE" class="form-control">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                                                            </div></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="">Component Wise Discount Comission</label>
                                                                <input type="number" min="0" step="any" onkeypress="return event.charCode != 45" [(ngModel)]="bookingArray.data.dynamic[index].COMPONENTS_WISE_DISCOUNT_COMISSION" class="form-control">
                                                            </div>
                                                        </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-6">
                                                        <div class="form-group">
                                                            <label>Component Wise Currency</label>
                                                            <select class="form-control" id="COMPONENTS_WISE_CURRENCY" [(ngModel)]="bookingArray.data.dynamic[index].COMPONENTS_WISE_CURRENCY">
                                                                    <option>Select Currency...</option>
                                                                    <option *ngFor="let cData of dataCur.currency">{{cData}}</option>
                                                            </select>
                                                    </div>
                                                    </div>
                                                    <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="">City</label>
                                                                <input type="text" [(ngModel)]="bookingArray.data.dynamic[index].CITY" class="form-control">
                                                            </div>
                                                        </div>
                                        </div>
                                        <div class="row">
                                                
                                            <div class="col-6">
                                                <div class="form-group">

                                                    <label for="">Arrival Date</label>
                                                    <div class="input-group mb-6">
                                                <input type="date" [(ngModel)]="bookingArray.data.dynamic[index].ARRIVALDATE" class="form-control">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2"><i class="ion ion-md-calendar"></i></span>
                                                </div>
                                                </div>
                                                </div>
                                        </div>
                                        <div class="col-6"  *ngIf="bookingArray.data.dynamic[index].SERVICE_CATEGORY == 'Hotel'">
                                                <div class="form-group">
                                                    <label for="">Room Category</label>
                                                    <input type="text" [(ngModel)]="bookingArray.data.dynamic[index].ROOM_CATEGORY" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                        </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" (click)="booking()">Save changes</button>
              </div>
          </div>
      </div>
  </div>
</main>